# Statistics of datesets

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Cryptoassets

In [2]:
infodf = pd.read_excel('****Name_Ticker_fundamentals.xlsx',sheet_name = 'py')

In [3]:
eventdf = pd.read_excel('****Crypto_Dataset_event.xlsx',sheet_name = 'py')

In [4]:
std = infodf['raised_amount'].std()
mean = infodf['raised_amount'].mean()

In [5]:
infodf_filt = infodf[infodf['raised_amount'] <= 1.4e8]

In [6]:
std = infodf_filt['raised_amount'].std()
mean = infodf_filt['raised_amount'].mean()

In [20]:
mean, std

(15193909.34924012, 17060482.90685737)

In [16]:
np.percentile(infodf_filt['raised_amount'],25)/1e6

2.5

In [17]:
np.percentile(infodf_filt['raised_amount'],75)/1e6

20.39

In [18]:
infodf_filt['raised_amount'].min()/1e6

0.01

In [19]:
infodf_filt['raised_amount'].max()/1e6

106.4

In [7]:
#Count ERC20 standard
num_of_erc = sum(infodf['token_standard']=='ERC20')

In [8]:
#pct of ERC20
pct_of_erc = num_of_erc/len(infodf)

In [9]:
round(pct_of_erc,3)

0.799

In [10]:
len(infodf)

353

## IPOs

In [12]:
iposet = pd.read_excel('selected ipo under 140 filtered by shared offered.xlsx')

In [13]:
df = pd.read_excel('merged_final.xlsx')

In [23]:
avg_offered_ipo = (df['offered_number'][df['asset_class'] == 'IPO']/df['total_number'][df['asset_class'] == 'IPO']).mean()

In [24]:
std_offered_ipo = (df['offered_number'][df['asset_class'] == 'IPO']/df['total_number'][df['asset_class'] == 'IPO']).std()

In [25]:
avg_offered_ipo

0.21957816984099948

In [26]:
std_offered_ipo

0.2294517805166959

In [27]:
avg_size_ipo = (df['raised_amount'][df['asset_class'] == 'IPO']).mean()

In [ ]:
std_size_ipo = (df['offered_number'][df['asset_class'] == 'IPO']/df['total_number'][df['asset_class'] == 'IPO']).std()

In [29]:
avg_size_ipo/1e6

66.52523798042168

In [18]:
d = {'index_': ['cryptoasset','IPO'],
     'Offered':[avg_offered_c, avg_offered_ipo],
     'Held':   [1-avg_offered_c, 1-avg_offered_ipo] }
df1 = pd.DataFrame(d)
df1.set_index('index_', inplace = True)
df1.round(2)

             Offered  Held
index_
cryptoasset     0.36  0.64
IPO             0.22  0.78

In [19]:
class_ = df['class'].unique()
class_

array(['Web Services', 'IT Services', 'Communication', 'Currency',
       'Financial Services', 'Healthcare', 'Real Estate',
       'Goods and Utilities', 'Industrials', 'Other'], dtype=object)

In [20]:
crypto = []
for i in class_:
    crypto.append(sum((df['asset_class'] == 'cryptoasset') & (df['class'] == i)))

In [21]:
crypto

[74, 104, 17, 15, 97, 5, 4, 2, 0, 0]

In [4]:
ipo = []
for k in class_:
    ipo.append(sum((df['asset_class'] == 'IPO') & (df['class'] == k)))

NameError: name 'class_' is not defined